body {
	font-family: Bungee;
}
img {
	width: 20%;
	height: 45%;
	position: absolute;
	z-index: -1;
	

}
.div-1{

	border: 5px solid black;
	background-color: white;
	border-radius: 50px;
	width: 32%;
	height: 50px;
	position: relative;
	top: 210px;
	left: 70px;
	
}
.div-2 {
	border: 0px solid black;
	border-radius: 50px;
	background: linear-gradient(to right, green, yellow, green);
	width: 70%;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}



h1 {
	
	position: absolute;
	top: 15px;
	left: 0px;
	font-size: 40px;
}

h3 {
	position: absolute;
	top: 90px;
	left: 0px;
	font-size: 20px;
}