body {
	text-align: center;
	background-color: darkgreen;
}
div:first-child {
	margin-left: 15%;
	border: 3px double green;
	width: 70%;
	height: 842px;
	background-color: #1ace6a;
}

/*div:first-child {
	border: 1px solid #80f7b6;
	background-color: #80f7b6;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	position: relative;
	top: 50px;
	left: 50px;
}
div:first-child:hover {
	background-color: #51c184;
	border: 1px solid yellow;
	-webkit-box-shadow: 2px 7px 47px 9px rgba(81,193,131,1);
	-moz-box-shadow: 2px 7px 47px 9px rgba(81,193,131,1);
	box-shadow: 2px 7px 47px 9px rgba(81,193,131,1);
}
div:nth-child(2) {
	border: 1px solid #80f7b6;
	background-color: #80f7b6;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	position: relative;
	top: 80px;
	left: 80px;
}

div:nth-child(2):hover {
	background-color: #51c184;
	border: 1px solid yellow;
	-webkit-box-shadow: 2px 7px 47px 9px rgba(81,193,131,1);
	-moz-box-shadow: 2px 7px 47px 9px rgba(81,193,131,1);
	box-shadow: 2px 7px 47px 9px rgba(81,193,131,1);
}

div:nth-child(3) {
	border: 1px solid #80f7b6;
	background-color: #80f7b6;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	position: relative;
	top: 80px;
	left: 80px;
}

div:nth-child(3):hover {
	background-color: #51c184;
	border: 1px solid yellow;
	-webkit-box-shadow: 2px 7px 47px 9px rgba(81,193,131,1);
	-moz-box-shadow: 2px 7px 47px 9px rgba(81,193,131,1);
	box-shadow: 2px 7px 47px 9px rgba(81,193,131,1);
}*/

h1 {
	font-family: 'Berkshire Swash', cursive;
	
	color: blue;
	
	font-size: 45px;
}
h1:hover {
	color: yellow;
}

h2 {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 25px;
	line-height: 20px;
	color: white;
}
h3 {
	margin: 0px;
	padding: 16px;
	font-family: 'arial', sans-serif;
	font-size: 23px;
	/*line-height: 20px;*/
	color: ;
}
h3:hover {
	color: red;
}

/*TABLE PORTION*/

#customers th {
	background-color: #148747;
	color: white;
	font-size: 22px;
}
tr:nth-child(even) {
    background-color: #80f7b6;
    font-size: 20px;
}
tr:nth-child(even):hover {
	color: #51c184;
	font-weight: bold;

}

tr:nth-child(odd) {
    background-color: #51c184;
    font-size: 20px;
}

tr:nth-child(odd):hover {
	color: #80f7b6;
	font-weight: bold;
}